@CHARSET "UTF-8";

.table{
	margin-top: 40px;
	margin-bottom:40px;
}

.redcolor{
	background-color: red;
}

.greencolor{
	background-color: green;
}

.yellowcolor{
	background-color: yellow;
}