<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="template.xhtml">

	<ui:define name="content">
 
 		<h:form>
 			<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
 	   		<p:panel id="basic" header="Add new coupon" style="margin-bottom:20px">
				<h:panelGrid id="grid" columns="3" cellpadding="5">
     			
     				<p:outputLabel for="date">Date: </p:outputLabel>
     				<p:inputText id="date" value="#{couponModel.currentCoupon.date}" required="true" converterMessage="Use format YYYY-MM-DD">
     					<f:convertDateTime pattern="yyyy-M-d" />
     				</p:inputText>
     				<p:message for="date" />
     			
     				<p:outputLabel for="seller">Seller: </p:outputLabel>
     				<p:inputText id="seller" value="#{couponModel.currentCoupon.seller}" required="true" requiredMessage="Please enter some name" validatorMessage="This field cant not be empty">
     					<f:validateBean/>
     				</p:inputText>
     				<p:message for="seller" />
     			
     				<p:outputLabel for="buyer">Buyer: </p:outputLabel>
     				<p:inputText id="buyer" value="#{couponModel.currentCoupon.buyer}" required="true" >
     					<f:validateBean/>
     				</p:inputText>
     				<p:message for="buyer" />
     	
     			</h:panelGrid>
     		</p:panel>
     		<p:commandButton value="Save" action="#{couponController.save()}" update="@form"/>
     		<p:commandButton value="Cancel" action="#{couponController.cancel()}" immediate="true"/>
  		</h:form>
  
	</ui:define>

	<ui:define name="page_title">
		Add new coupon
	</ui:define>

</ui:composition>
