<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      template="template.xhtml">

	<ui:define name="content">
 		<h:form>
      		<p:dataTable class="table" value="#{couponModel.currentCoupon}" var="coupon">
       	 		<f:facet name="header">
        			Coupon details
    			</f:facet>
      			<p:column headerText="Number">
      				<h:outputText value="#{coupon.id}"/>
      			</p:column>
      			<p:column headerText="Date">
      				<h:outputText value="#{coupon.date}"/>
      			</p:column>
      			<p:column headerText="Seller">
      				<h:outputText value="#{coupon.seller}"/>
      			</p:column>
      			<p:column headerText="Recipient">
      				<h:outputText value="#{coupon.buyer}"/>
      			</p:column>
 
      		</p:dataTable>
      	</h:form>
  		
  		<h:form>
 			<p:dataTable class="table" value="#{couponModel.currentCoupon.items}" var="item">
 		    	<f:facet name="header">
        			Coupon items
    			</f:facet>
      			<p:column headerText="Name">
      				<h:outputText value="#{item.name}"/>
      			</p:column>
      	    	<p:column headerText="Amount">
      				<h:outputText value="#{item.amount}"/>
      			</p:column>
      	    	<p:column headerText="Unit">
      				<h:outputText value="#{item.unit}"/>
      			</p:column>
      			<p:column headerText="Item price">
      				<h:outputText value="#{item.price}"/>
      			</p:column>
      			<p:column headerText="Total price">
      				<h:outputText value="#{item.total}"/>
      			</p:column>
       			<p:columnGroup type="footer">
            		<p:row>
                		<p:column colspan="4" style="text-align:right" footerText="Totals:" />
                		<p:column footerText="#{couponModel.calculatedSum}" />
            		</p:row>
        		</p:columnGroup>
  			</p:dataTable>
		
  		</h:form>
	</ui:define>

	<ui:define name="page_title">
		Coupon details
	</ui:define>
</ui:composition>
