<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="template.xhtml">

	<ui:define name="content">
  		<h:form>
      		<p:dataTable class="table" value="#{couponController.allItems}" var="item">
        		<f:facet name="header">
       	 			Coupon
    			</f:facet>
      			<p:column headerText="Number">
      				<h:outputText value="#{item.id}"/>
      			</p:column>
      			<p:column headerText="Name">
      				<h:outputText value="#{item.name}"/>
      			</p:column>
      		</p:dataTable>
      	</h:form>
	</ui:define>

	<ui:define name="page_title">
		Item list
	</ui:define>
</ui:composition>
