<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
  

	<ui:composition>
		<h:form>
			<p:tabMenu>
				<p:menuitem value="Back to coupon list" outcome="coupon-list"
					icon="ui-icon-star">
				</p:menuitem>
			</p:tabMenu>
		</h:form>
	</ui:composition>
 	
</html>
